.container {
  display: flex;
  text-align: center;
  justify-content: column;
}

.datosPersonales {
  flex-basis: 26.5%;
  background-color: hsl(199, 92%, 60%);
  margin-left: 15%;
}
.datosEducacion{
  background-color: rgb(235, 68, 68);
  border-right: 3px;
  border-top: 3px;
  border-left: 3px;
  border-color: #000000;
  border: 3px;
  padding-bottom: 5%;
  flex-direction: column;
}
.datosProfesionales {
  background-color: #f3e7e7;
  border-right: 3px;
  border-top: 3px;
  border-left: 3px;
  border-color: #000000;
  border: 3px;
  padding-bottom: 13%;
  margin-right: auto;
}

body {
  font-family: Arial, sans-serif;
  padding: 1%;
  background-color:hsl(242, 41%, 85%);

  border: 1px solid rgb(0, 0, 0);
}

h1 {
  color: #000000;
  text-align: right;
  margin: 10%;
}

h2 {
  color: #000000;
}

p {
  margin-bottom: 1%;
}

.section {
  margin-bottom: 5%;
}

.section-title {
  font-weight: bold;
}

.subsection {
  margin-left: 1%;
}

.subsection-title {
  font-weight: bold;
}